/*Yongqi Jia*/
body {
	background-image: url("images/moviebg.png");
	font-family: Arial, Helvetica;
	font-size: 10pt;
}

.bannerbg {
	background-image: url("images/rancidbannerbg.png");
	background-repeat: repeat-x;
}

h1 {
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
	font-family: Georgia, "Timew New Roman";
	text-shadow: 3px 3px #999999;
}

.overall-content-area {
	border: hidden;
	border-radius: 20px;
	box-shadow: 5px 5px 5px gray;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.content {
	float: right;
	width: 250px;
	background-color: rgb(144,187,145);
	height: 1083px;
}

.rotten {
	width: 550px;
	height: 83px;
	background-image: url("images/rottenlargebg.png");
	background-repeat: repeat-x;
	height: 83px;
}

.rate {
	vertical-align: top;
	font-size: 48pt;
	font-weight: bold;
	color: red;
	margin-left: 30px;
}

.comment {
	float: left;
	width: 550px;
	height: 1000px;
	background-color: lightgray;
}

.leftsection {
	float: left;
	width: 47%;
	padding-left: 2%;	
}

.rightsection {
	float: left;
	width: 47%;
	padding-left: 2%;
}

.review {
	font-size: 10pt;
	font-family: Georgia,"Times New Roman";
	border: #CCCCCC solid 2px;
	border-radius: 20px;
	overflow: hidden;
	padding: 8px;
	clear: both;
	background-color: #FFFFFF; 
	margin-top: 15px;
}

.comment img {
	float: left;
	margin-right: 5px;	
}

.text {
	margin-bottom: 20pt;
}

.general-overview {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10pt;
	font-family: Arial, Helvetica;
}

dt {
	margin-top: 10pt;
	font-weight:bold;
}

li {
	list-style-type: none;
	margin-left: -30pt;
}

.page {
	text-align: center;
}

